.inputForm {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.inputForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.inputForm label {
    font-size: 14;
    font-weight: bold;
    padding-top: 20px;
}

.inputForm span {
  color: #cc0000;
  font-size: small;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.certify {
  display:flex;
  flex-direction: row;
  padding: 1em;
  margin: 1em;
  border: 3px solid #ddd;
  background-color: #eee;
}

.certify input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.certify span {
   padding-right: 1em;
}

.checkboxerror span {
  color: #cc0000;
  font-size: small;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1em;
}

.submitButton{
  justify-content: center;
  align-items: center;
  display: flex;
}

.submitButton button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  align-self: center;
  justify-self: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  width: 95%;
  cursor: pointer;
  transition-duration: 0.4s;
}

.submitButton button:hover {
  background-color: #008CBA;
  color: white;
}

.options {
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.options select {
  font-size: 14px;
  border: none;
  width: 100%;
  background: white;
}
  

